.container4{
    border-radius: 0%;
   
}
.button {
    border: 2px solid blue;
    color: blue;
    border-radius: 0;
    text-decoration: none;
  }
  .button:hover {
    border: 2px solid rgb(2, 2, 49);
    color: rgb(2, 2, 49);
  }
  .card2 img{
    height: 350px;
    width: 600px;
  } 
  .card2-title{
    font-size: 2.2rem;
  }
  .card2-text{
    font-size: 1.4rem;
  }
  @media screen and (min-width: 995px) {
    .container4{
      border-radius: 0%;
     
  }
  .button {
      border: 2px solid blue;
      color: blue;
      border-radius: 0;
      text-decoration: none;
    }
    .button:hover {
      border: 2px solid rgb(2, 2, 49);
      color: rgb(2, 2, 49);
    }
    .card2 img{
      height: 350px;
      width: 600px;
    } 
    .card2-title{
      font-size: 2.2rem;
    
    }
    .card2-text{
      font-size: 1.4rem;
    }
    .card-body2{
      margin-top: 50px;
      margin-left: 20px;
    }
  }

/* Center card items */


/* Modify button size */
@media screen and (min-width: 0px) and (max-width: 994px) {
  /* Small button size */
 .card2{
  display: flex;
  justify-content: center;
  align-items: center;
 }
  .button {
    border: 2px solid blue;
    color: blue;
    border-radius: 0;
    text-decoration: none;
    font-size: 24px;
            padding: 15px 197px;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
}

@media screen and (min-width: 995px) {
  /* Large button size */
  
  .button {
    font-size: 14px;
    padding: 15px 15px;
    border: 2px solid blue;
    color: blue;
    border-radius: 0;
    text-decoration: none;
  }
}
@media (max-width: 375px) and (max-height: 667px) {
  /* Your CSS styles for 375 x 660 device here */

  .card2{
    display: flex;
    justify-content: center;
    align-items: center;
   }
}
@media only screen and (min-width: 375px) and (max-width: 750px) and (min-height: 660px) {
  /* CSS styles for devices with viewport width between 375px and 750px and height of 660px */
  /* Add your styles here */
  .button {
    border: 2px solid blue;
    color: blue;
    border-radius: 0;
    text-decoration: none;
    font-size: 24px;
            padding: 5px 100px;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) and (min-height: 667px) {
  /* CSS styles for devices with viewport width between 576px and 768px and height of 667px */
  /* Add your styles here */
  .button {
    border: 2px solid blue;
    color: blue;
    border-radius: 0;
    text-decoration: none;
    font-size: 24px;
            padding: 5px 50px;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .card-body2{
    margin-top: 15px;
    margin-left: 20px;
  }
  
}
@media (max-width: 360px) and (max-height: 740px) {
  /* Your CSS styles for 375 x 660 device here */
  .button {
    border: 2px solid blue;
    color: blue;
    border-radius: 0;
    text-decoration: none;
    font-size: 24px;
    padding: 5px 90px;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
}
@media (max-width: 280px) and (max-height: 658px) {
  /* Your CSS styles for 375 x 660 device here */
  .button {
    border: 2px solid blue;
    color: blue;
    border-radius: 0;
    text-decoration: none;
    font-size: 24px;
    padding: 5px 20px;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
}