.txt-size-on-img {
  font-size: 40px !important;
  line-height: 50px !important;
  transform: scaleY(1.15);

}

.card-img {
  height: 480px ;
  object-fit: cover;

}
.marg {
  margin-top: 65px;
}
.btn-clr {
  background-color: rgb(39, 39, 231);
  color: white;
}

.butt {
  font-size: 1.1rem !important;
  background-color: #0B41CD !important ;
  font-weight: 600;
}
.butt:hover{
  background-color: #062470 !important;
}

.description {
  font-size: 20px;
  margin-top: 25px;
  transform: scaleY(1.1);
}



@media (max-width: 992px) {
  .card-img {
    object-fit: cover;
  }

  .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
  }

  .txt-size-on-img {
    font-size: 2rem !important;
    line-height: 2rem !important;
    color: #fff;
    margin-bottom: 1rem;
  }

  .txt34 {
    font-size: 1rem;
    color: #fff;
  }

  .butt {
    font-size: 1.1rem !important;
  }
  .look-beyond-text{
    margin: 0px 0px 0px 10px;
  }
}


@media (min-width: 992px) and (max-width: 1100px) {
  /* CSS rules for smaller screens */
  .marg {
    margin-top: 4rem;
  }
}
@media (min-width: 800px) and (max-width: 992px) {
  /* CSS rules for smaller screens */
  .marg {
    margin-top: 4rem;
  }
  .txt-size-on-img {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }
}
/* @media (min-width: 650px) and (max-width: 770px) {
  .marg {
    margin-top: 4rem;
  }
  .txt-size-on-img {
    font-size: 1.7rem !important;
    line-height: 1.2rem !important;
  }
  .txt34 {
    font-size: 0.8rem;
  }
  .butt {
    font-size: 0.6rem !important;
  }
} */
@media (min-width: 500px) and (max-width: 650px) {
  /* CSS rules for smaller screens */
  .marg {
    margin-top: 3.5rem;
  }
  .txt-size-on-img {
    font-size: 1.6rem !important;
    line-height: 1.1rem !important;
  }
  .txt34 {
    font-size: 0.8rem;
  }
  .butt {
    font-size: 0.6rem !important;
  }
  .pad {
    padding: 0.8rem !important;
  }
}
@media (min-width: 439px) and (max-width: 500px) {
  /* CSS rules for smaller screens */
  .marg {
    margin-top: 3rem;
  }
  .txt-size-on-img {
    font-size: 1.4rem !important;
    line-height: 0.9rem !important;
  }
  .txt34 {
    font-size: 0.7rem;
  }
  .butt {
    font-size: 0.55rem !important;
  }
  .pad {
    padding: 0.8rem !important;
  }
  
}
@media (min-width: 376px) and (max-width: 439px) {
  

  .card-img{
    height: 400px;
  }

  .txt34 {
    font-size: 26px;
  }
  
  .description {
    font-size: 14px
  }
}
