.img-size {
  height: 15rem;
  width: 24rem;
  border-bottom: 4px solid rgb(146, 145, 145);
  object-fit: cover;

}
.img-size:hover {
  transform: scale(1.1);
  border-bottom: 4px solid rgb(15, 74, 190);
  cursor: pointer;
}
.image-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: gray;
  transition: width 0.5s, background-color 1.5s;
}

.profcard-container:hover {
  cursor: pointer;
}

.image-container:hover::after {
  width: 100%;
  background-color: #0B41CD;
}

.imgsize3 {
  width: 26rem;
}
.profcard-container:hover {
  cursor: pointer;
}

.profcard-container:hover .profcard-title {
  color:#0B41CD;
}

.professional-arrow-icon {
  font-size: 20px;
}
.card-text {
  font-size: 18px;
  transform: scaleY(1.15);
  opacity: 0.8;
}